<ion-view hide-nav-bar="true">
    <ion-content>
<div class="container-fluid" id="mainContiner" style="height:100%;">

    <div class="row" style="height:100%;">
        <div class="col-sm-9" style="height:100%;padding-right:0px;">
            <div class="container-fluid" style="height:100%;">
                <div class="row" style="height:11%;">
                    <div class="col-sm-6 common-border rlCapsuleHeight" ng-controller="SelfCtrl as selfCtrl">
                        <div class="fullHeight" ng-include="'selfCapsule/self-capsule.html'" ></div>
                    </div>

                    <div class="col-sm-6 common-border rlCapsuleHeight" ng-controller="FamilyCtrl as familyCtrl">
                        <div class="fullHeight" ng-include="'familyCapsule/family-capsule.html'" ></div>
                    </div>
                </div>
                <div class="row" style="height:5.5%;">
                    <div class="col-sm-12 common-border rlUtilitiesCapsuleHight" ng-controller="UtilityCtrl as utilityCtrl">
                        <div class="" ng-include="'utilities/utilities.html'" ></div>
                    </div>
                </div>
                <div class="row" style="height:7.5%;">
                    <div class="col-sm-12 common-border rlWellBeingHealthHeight" ng-controller="WellBeingIndicatorCtrl as wellBeingIndicator">
                        <div class="" ng-include="'wellBeingIndicator/well-being-indicator.html'" ></div>
                    </div>
                </div>
                <div class="row" style="height:60%;">
                        <div style="height:100% !important;" class="col-sm-12 events-carousel-div" ng-controller="EventsCtrl as eventCtrl">
                            <div class="rlFullHeight" ng-include="'events/events.html'" ></div>
                        </div>
                    <div class="col-sm-12 events-timeline-div" ng-controller="TimeLineCtrl as timeLineCtrl">
                        <div class="" ng-include="'events/timeline.html'"></div>
                    </div>
                </div>
                <div class="row" style="height: 15%;bottom:0;">
                    <div class="col-sm-12 common-border" ng-controller="ActionController as actionCtrl" style="background-color: #e8e8e8; color: #333; height: 55px; z-index: 0; width: 98.5%; position: absolute; bottom: 1.5%;">
                        <div class="" ng-include="'actionBar/actionBar.html'" ></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 rlFullHeight">
            <div class="container-fluid rlFullHeight" >
                <div class="row" style="height:25%;">
                    <div class="col-sm-12" ng-controller="reallifeInfoSettingController as reallifeInfoSettingController" >
                        <div class="" ng-include="'realLiveinfoSetting/realLiveinfoSetting.html'"></div>
                    </div>
                </div>
		<!--Country Tab-->
		<!--<div class="row">
			<div class="col-sm-12 common-border rlCountryHeight" ng-controller="CountryController as countryCtrl">
			    <div class="" ng-include="'country/country.html'"></div>
			</div>
		    </div>-->
		<!--Life Summary Tab-->
		<div class="row" style="height:75%;">
                    <div class="col-sm-12 common-border rlCountryHeight rlFullHeight" ng-controller="CountryController as countryCtrl">
                        <div class="rlFullHeight" ng-include="'lifeSummary/lifeSummary.html'"></div>
                    </div>
                </div>
		<!--Introspections Tab-->
<!--		<div class="row" style="height:75%;">
				    <div class="col-sm-12 common-border rlCountryHeight rlFullHeight" >
					<div class="rlFullHeight" ng-include="'introspections/introspections.html'" ></div>
				    </div>>-->

	    </div>
	</div>

    </div>
</div>

<div class="rlFullHeight" ng-controller="CountryController as countryCtrl">
    <div class="rlFullHeight" ng-include="'country/countryModal.html'"></div>
</div>
</div>
    </ion-content>
</ion-view>