<ion-view title="Login">
  	<ion-content>
    <div class="form-group"  ng-controller="LoginCtrl">
           <label class="item item-input">
           <span class="input-label">Username: </span>
           <input type="text" ng-model="user.name">
           </label>

           <label class="item item-input">
           <span class="input-label">Password: </span>
           <input type="password" ng-model="user.password">
           </label>
           <button class="button button-block button-positive" ng-click="login()">
             Login
           </button>
    </div>


    </ion-content>
  </ion-view>
