<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<ion-view title="User Page">
    <ion-content>
        <button class="button" ng-click="userCtrl.newGameGoToDashboard()">Start New Game</button>
        <a href="#/savedGames"><button class="button">Play Saved Game</button></a>
    </ion-content>
</ion-view>
